@mixin border-radius($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow: 0 0 10px rgba(0, 0, 0, 0.5)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.result-table {
  width: 65%;
  max-height: 80vh;
  overflow-y: scroll;
}

.ui-datatable {
  text-align: center;

  th {
    text-align: center !important;
  }
}

#box1
{
  @include box-shadow(0 0 20px rgba(0, 0, 0, 0.15));
  aspect-ratio: 1/1;
  width: 100%;
  background-color: white;
}

.with-shadow {
  color: white;
  font-size: large;
  text-shadow: black 3px 3px 3px;
}

.container {
  display: flex;
}

.input-area {
  width: 35%;
  margin-left: 15px;
}

